<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">

	
	<title>Telecheck</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- Added by me-->
	<link rel="stylesheet" href="css/style.css">
	<!-- Font Awesome-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<% include partials/navbar.ejs %>
	<!-- /.navbar -->

	<!--<header id="head" class="secondary"></header>-->
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	


	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="home">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<div class="col-md-7">

				<header class="page-header">
					<h1 class="page-title">About us</h1>
				</header>

				<h4> The website has been developed and maintained by Sumant Bagade </h4>
				<br>
				<i class="fa fa-envelope"></i><h4 style="display:inline">  sumantbagade19@gmail.com  </h4>
				<br>
				<br>
				<h4> Find me here</h4>
				<div class="row">
					<div class="col-md-1">
						<h3><a href="https://www.hackerearth.com/@sumant2" target="_blank"><i class="fa fa-header fa-lg"></i></a></h3>
					</div>
					<div class="col-md-1">
						<h3><a href="https://github.com/Subway19" target="_blank"><i class="fa fa-github fa-lg"></i></a></h3>
					</div>
					<div class="col-md-1">
						<h3><a href="https://www.facebook.com/sumantbagade19" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></h3>
					</div>
				</div>
			
			</div>

			<div class="col-md-4">
				<div id="map">

				</div>
			</div>
			
			<!-- Sidebar -->
		
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	<% include partials/footer.ejs %>




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
	<!-- Added by me -->
	<script src="js/script.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
	<!--For Github Issues -->
	<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

</body>
</html>