<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<style>
		.centered{
  		margin: auto;
  		width: 900px;
	}
	</style>
</head>

<body>
	<div class="centered">
		<img src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/24/240/240179/under-construction-dark-f.jpg?1416332988" />
		<h3> Thanks for your response </h3>
		<a href="home"><button type="button" class="btn btn-primary">Go Home</button></a>
	</div>
	


</body>
</html>
