

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 text-left">
						<div style="width:140px">
							<a href="home"><img src="assets/images/capture1.jpeg" style="padding-bottom:40px" /></a>
						</div>

					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-6 text-right" style="padding-top:30px">
								<h5 style="display:inline"><a href="home">Home</a> | </h5>
								<h5 style="display:inline"><a href="about">About</a> | </h5>
								<h5 style="display:inline"><a href="about">Contact</a>  | </h5>
				
							</div>
							<div class="col-md-3" style="padding-top:20px">
								<h5><a href="https://github.com/Subway19/Telecheck" target="_blank">
									| Open Source | 
									</a>
								</h5>
								
				
							</div>
							<div class="col-md-1">
								<h3><a href="https://www.hackerearth.com/@sumant2" target="_blank"><i class="fa fa-header fa-lg"></i></a></h3>
							</div>
							<div class="col-md-1">
								<h3><a href="https://github.com/Subway19" target="_blank"><i class="fa fa-github fa-lg"></i></a></h3>
							</div>
							<div class="col-md-1">
								<h3><a href="https://www.facebook.com/sumantbagade19" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></h3>
							</div>



						</div>		
					</div>
				</div>
			</div>

	</div> <!-- /row of widgets 
			</div>
		</div> -->

		<div class="footer2">
			<div class="container">
					<div class="widget-body">
						<h5><p class="text-center">
							Copyright &copy; 2016.
						</p> </h5>
					</div>
					

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	